body {
    color: #333333;
    background-color: #f0f4f8;
}




.box-1 {
    background-color: #ffcccc;
    height: 150px;
    width: 300px;
    padding: 20px 20px 20px 20px;
    margin-left: 50px;
}

.box-2 {
    background-color: #ccffcc;
    height: 100px;
    width: 50%;
    padding: 20px 20px 20px 20px;
    margin-left: 300px;
    margin-top: 50px;
}

.box-3 {
    background-color: rgb(196, 238, 255);
    height: 20vh;
    width: 40vw;
    padding: 20px 20px 20px 20px;
    margin-left: 50px;
    margin-top: 30px;
}